html{
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Titillium Web';
  margin: 0;
  color: #0a0a0a;
  background: #ece9e6;
  /* background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);   */
  /* background: linear-gradient(to right, #24243e, #302b63, #0f0c29);  */
  /* line-height: 1.6; */
}
/* .dark--btn{
  width: 8rem;
  height: 1rem;
  border: .4rem solid black;
  border-radius: 1rem;
  padding: 1.0rem;
  cursor: pointer;
  float: left;
  margin-left: 2rem;
  margin-top: 2rem;
  font-size: 1rem;
 
} */
input[type="checkbox"] {
  position: relative;
  width: 4.0rem;
  height: 2.0rem;
  top: .5rem;
  left: .6rem;
  -webkit-appearance: none;
  appearance: none;
  background: grey;
  outline: none;
  border-radius: 2rem;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgb(0 0 0 / 50%);
}

input[type="checkbox"]::before {
  content: "";
  width: 2.0rem;
  height: 2.0rem;
  border-radius: 50%;
  background: #fff;
  position: absolute;

  transition: 0.5s;
}

input[type="checkbox"]:checked::before {
  transform: translateX(100%);
  background: #fff;
}

input[type="checkbox"]:checked {
  background: white;
}
.icon-bar {
  width:100%;
  position: absolute;
  top: 0;
}

.icon-bar a {
  float: right;
  width: 11rem;
  text-align: center;
  text-decoration: none;
  padding: 1.0rem 0;
  transition: all 0.3s ease;
<<<<<<< HEAD
  /* color: rgb(0, 0, 0); */
  font-size: 1.7rem;
=======
/*   color: rgb(0, 0, 0); */
  font-size: 1.8rem;
>>>>>>> 98e3a60ec856408c62e2b76fad819adc1e01d684
  cursor: pointer;
}

.icon-bar a:hover {
  background-color: grey;
}
.btn {
  /* background-color: rgba(69, 69, 70, 0.751); */
  border: none;
  padding: 1.0rem 2.4rem;
  cursor: pointer;
  font-size: 1.8rem;
  border-radius: 1.0rem;
}
.btn a{
  color: rgb(0, 0, 0);
}
.bg-image
{
  /* background-image: url('cool-background.svg'); */
  height: 50.0rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 
 }
 .card{
  height: 23.0rem;
  width: 75.0rem;
  display: flex;
  flex-direction: row;
  padding: 3.5rem;

 }
 
 .main {
  padding: 4.0rem;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;
 
 }
 .skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30.0rem;
  height: 40.0rem;
  padding: 3.0rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 2.0rem;
  background-color: rgba(152, 152, 152, 0.1);
  box-shadow: 0 0 1.0rem .1rem rgba(0, 0, 0, 0.1);
  
}
.skill li{
  font-size: 1.8rem;
  line-height: 1.5;
  padding-left: 3.5rem;
}
.skill-footer {
  font-size: 0.65em;
  color: #446;
}

/* .about{
  width: 120rem;
  height: 35rem;
  padding: 8rem;
  justify-content: center;
  align-items: center;
 } */
 .about-h1{
  font-size: 3.5rem; 
  text-align: center;
 }
 .about-profile{
  margin: 0 4rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }
 /* .about-profile-img{
  width: 20.0rem;
  height: 25.0rem;
  padding:5rem;
   margin: 5.0rem; 
 } */
 .about-p{
  /* width: ;
  height: ; */
  padding: 5rem;
  font-size: 2.0rem;
  line-height: 1.6;

 }
 .container-out{
    padding: 4.0rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row; 
 }
 
 .container-in{
  display: flex;
  flex-direction: column;
  width: 60.0rem;
  height: 40.0rem;
  padding: 3.0rem;
  border: .1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 2.0rem;
  background-color: rgba(152, 152, 152, 0.1);
  box-shadow: 0 0 1.0rem .1rem rgba(0, 0, 0, 0.1);
 }
 .container-in h1{
  font-size: 2.5rem;
 }
 .inner-container{
  margin: 0;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

.inner-card{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

}
.form{
  width: 50%;
  padding: 3.0rem;
}
.info{
  padding: 3.0rem;
}
.info-in {
  font-size: 2.0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 1.2rem;
  background-color: #ffffff;
  border: .1rem solid #2a2a2a;
  border-radius: .5rem;
  margin-top: .6rem;
  margin-bottom: 1.6rem;
  resize: vertical;
}

input[type=submit] {
  background-color: #fefefe;
  /* color: rgb(11, 11, 11); */
  padding: 1.2rem 2.0rem;
  border: none;
  border-radius: 1rem ;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #4b4b4b;
  color: #ece9e6;
}
.contactus{
  margin:2.0rem;
}
form label{
  font-size: 2.0rem;
}

 .footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(115, 115, 115); */
 height: 12.0rem;
 }
 .footer > a {
  font-size: 3.0rem;
  padding: 2.0rem;
  color: black;
 }
 .foot-div {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  /* background-color: rgb(115, 115, 115); */
 }
 small{
  margin-bottom: 1.0rem;
 }
 .info{
  padding: 1.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
 }
 .info-in{
  border: .1rem solid rgba(0, 0, 0, 0.1);
  background-color: rgba(152, 152, 152, 0.1);
  max-width: 30.0rem;
  height: 35.0rem;
  margin-bottom: 6.0rem;
  border-radius: 1.0rem;
  padding: 2.5rem;
  justify-content: space-evenly;
 }
 

 .dark-mode {
  background-color: #0a0a0a;
  background: linear-gradient(315deg, #2d3436 0%, #000000 74%); 
  color: white;
}


 @media  (max-width : 500px) {
      html{
        font-size: 40%;
        
      }
}

@media  (max-width : 300px) {
  html{
    font-size: 20%;
    
  }
}
