body {
  font-family: Arial, sans-serif,'Poppins';
  /* height:100%; */
  margin: 0;
  scroll-behavior: smooth;
  /* background-image: linear-gradient(135deg, #a8c0ff, #3f2b96); */
  background: linear-gradient(135deg, #667eea, #764ba2);
  line-height: 1.5;
}
header {
  top: 0;
  color: #fff;
  height: 300px;
  text-align: center;
  position: relative;
  background-image: url(background.png);
  background-size: cover;
  
}
header h1{
  padding-top: 120px;
  
}
.icon-bar {
  width: 100%;
  overflow: auto;
  position: absolute;
  bottom: 0;
}

.icon-bar a {
  float: right;
  width: 8%;
  text-align: center;
  padding: 10px 0;
  transition: all 0.3s ease;
  color: whitesmoke;
  font-size: 15px;
}

.icon-bar a:hover {
  background-color: grey;
}
.bg-image
{
  background-image: url('cool-background.svg');
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
 
 }
 .card{
  height: 40%;
  width: 40%;
  display: flex;
  flex-direction: row;
  padding: 35px;
  line-height: 1.5;
  
 }
 /* #pro-img{
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-items: center;

 } */

 .main {
  padding: 40px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  flex-direction: row;

 
 
 }
 .skill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 300px;
  height: 400px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  
}
.skill li{
  font-size: 15px;
  line-height: 1.5;
  padding-left: 35px;
  
 
}
.skill-footer {
  font-size: 0.65em;
  color: #446;
}

.about{
  padding: 6%;
 }
 .container-out{
    padding: 40px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row; 
 }
 
 .container-in{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 400px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, .1);
  border-radius: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(1px);
 }
 .inner-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 

 }